{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure        {:mvn/version "1.10.3"}
           metosin/reitit             {:mvn/version "0.5.13"}
           metosin/ring-http-response {:mvn/version "0.9.2"}
           ring/ring-jetty-adapter    {:mvn/version "1.9.3"}
           zerg000000/simple-cors     {:mvn/version "0.0.8"}
           integrant/integrant        {:mvn/version "0.8.0"}}

 :aliases {:dev  {:extra-paths ["dev"]
                  :extra-deps  {integrant/repl {:mvn/version "0.3.2"}}}

           :test {:extra-paths ["test"]
                  :extra-deps  {ring/ring-mock {:mvn/version "0.4.0"}
                                io.github.cognitect-labs/test-runner
                                               {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                :sha     "705ad25bbf0228b1c38d0244a36001c2987d7337"}}
                  :exec-fn     cognitect.test-runner.api/test}

           :ui   {:extra-deps {reagent/reagent      {:mvn/version "1.1.0"}
                               cljs-ajax/cljs-ajax  {:mvn/version "0.8.3"}
                               fork/fork            {:mvn/version "2.4.1"}
                               binaryage/devtools   {:mvn/version "1.0.3"}
                               thheller/shadow-cljs {:mvn/version "2.14.5"}}}}}
